html {
  font-size: 22px; 
  line-height: 26px; 
  padding: 26px; 
  text-rendering: optimizeLegibility;
}

label {
  display: block;
}

body {
  font-family: "Georgia", "Palatino Linotype", serif;
  text-align: center;
  font-size: 35px;
  line-height: 50px; 
}

h1 {
  font-size: 60px;
  padding: 50px;
  background-color:#C5C5C5;
}

p {
  padding: 30px;
  background-color:#AEAEAE;
}

input, label{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Georgia", "Palatino Linotype", serif;
}

#input-email{
  background-color:#979797;
}

#input-age-verification{
  background-color:#808080;
}

#input-submit{
  background-color: #696969;
}

#input-email, #input-age-verification, #input-submit{
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  padding: 20px;
}

